.watchlist {
  font-family: 'Arial', sans-serif;
  color: #FFF;
  background-color: #1a1a1a;
  padding: 20px;
}

.watchlist h2 {
  color: #C0A0D0;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 30px;
}

.watchlist-movies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.watchlist-item {
  background-color: #292929;
  border-radius: 10px;
  overflow: hidden;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  transition: transform 0.2s;
  cursor: pointer; /* Indicates the item is clickable */
}

.watchlist-item:hover {
  transform: translateY(-5px);
}

.watchlist-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.watchlist-info {
  padding: 10px;
  text-align: center;
}

.watchlist-title {
  font-size: 1.2em;
  margin-bottom: 10px;
  display: block;
}

.watchlist button {
  background-color: #C0A0D0;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px; /* Add some space above the button */
}

.watchlist button:hover {
  background-color: #73006d;
}

/* Responsive Design */
@media (max-width: 768px) {
  .watchlist-item {
      width: 100%; /* Full width on smaller screens */
  }

  .watchlist h2 {
      font-size: 2em; /* Slightly smaller font size on smaller screens */
  }

  .watchlist-image {
      height: 200px; /* Adjust the image height for smaller screens */
  }
}

/* Additional Styling for Enhanced User Experience */
.watchlist-item:focus, .watchlist-item:active {
  outline: none; /* Removes outline for a clean look */
  box-shadow: 0 0 10px rgba(192, 160, 208, 0.8); /* Highlight effect */
}
