.user-profile-page {
  background-color: white;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.user-profile-container {
  max-width: 800px;
  margin: auto;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.edit-form, .user-info, .user-activity {
  margin-bottom: 20px;
}

.btn {
  background-color: purple;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.btn:hover {
  background-color: #5e005e;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 75px; /* Make it round */
  object-fit: cover; /* Ensure the image covers the area */
  margin-bottom: 10px;
}


.username, .gender{
  color: #333;
  margin-top: 0; /* Adjust as needed */
  font-size: 1.2em; /* Larger font size for visibility */
  margin: 5px 0;
}


.edit-profile-picture input,
.edit-username input,
.edit-gender input {
  display: block;
  width: 100%; /* Full width */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.button-group {
  margin-top: 10px;
  display: flex;
  justify-content: center; /* Center buttons */
  flex-wrap: wrap; 
}

.user-info {
  text-align: center; /* Center align user info */
}

.logout-btn {
  background-color: #d9534f; /* Red color for logout */
}

.logout-btn:hover {
  background-color: #c9302c; /* Darker red on hover */
}

.user-activity {
  width: 100%; /* Full width for sections */
}

.user-activity section {
  margin-bottom: 20px;
}

.user-activity h2 {
  color: purple;
  text-align: left; /* Align section headers to the left */
}

.join-date {
  color: #555; /* Example color */
  margin: 10px 0; /* Spacing */
  font-style: italic; /* Styling */
}

.user-top-picks {
  /* Styling for the top picks section */
  margin: 20px 0;
}

.top-picks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.top-pick-item {
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  transition: transform 0.2s;
  cursor: pointer;
}

.top-pick-item:hover {
  transform: translateY(-5px);
}

.top-pick-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.top-pick-info {
  padding: 10px;
  text-align: center;
  color: #FFF;
  background-color: #1a1a1a;
}

.top-pick-info h4 {
  margin: 0;
  font-size: 1.2em;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .user-profile-container {
    padding: 10px;
  }
}