.user-profile-page {
  background-color: white;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.user-profile-container {
  max-width: 800px;
  margin: auto;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.edit-form, .user-info, .user-activity {
  margin-bottom: 20px;
}

.btn {
  background-color: purple;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.btn:hover {
  background-color: #5e005e;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 75px; /* Make it round */
  object-fit: cover; /* Ensure the image covers the area */
  margin-bottom: 10px;
}


.username {
  color: #333;
  margin-top: 0; /* Adjust as needed */
}


.edit-profile-picture input,
.edit-username input,
.edit-gender input {
  display: block;
  width: 100%; /* Full width */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.button-group {
  margin-top: 10px;
}

.user-activity section {
  margin-bottom: 20px;
}

.user-activity h2 {
  color: purple;
}
