/* SignInPage.css */
.signin-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.signin-form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Consistent space between inputs */
}

.signin-form input[type="email"],
.signin-form input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.signin-form button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.signin-form button:hover {
  background-color: #0056b3;
}

/* Style adjustments for the social buttons */
.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Space between icon and text */
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  color: white;
  margin-top: 10px;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  font-weight: bold;
}

.social-icon {
  width: 24px;
  height: 24px;
}

.google-btn {
  background-color: #4285f4;
}

.google-btn:hover {
  background-color: #c1351e;
}

.facebook-btn {
  background-color: #4267B2;
}

.facebook-btn:hover {
  background-color: #365899;
}

.signup-link {
  margin-top: 15px;
  font-size: 0.9em;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

h2 {
  color: #333;
  font-size: 1.5em;
}

.password-reset-modal {
  position: fixed; /* Fixed position */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  z-index: 1000; /* Ensure it's above other content */
}

.password-reset-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%; /* Responsive width */
  max-width: 400px; /* Max width */
}

.password-reset-modal input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.password-reset-modal button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px; /* Space between buttons */
}

/* Button to trigger the modal */
.reset-password-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px; /* Space from other elements */
  display: block; /* Full width */
}

.reset-password-btn:hover {
  background-color: #0056b3;
}

  